* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar__wrapper {
    border-bottom: solid black 1px;
}

.navbar__title {
    text-align: center;
}

.highlight__image {
    width: 156px;
    height: 125px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
}
.highlight__scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 125px;
    white-space: nowrap;
}

@media only screen and (max-width: 450px) {
}
