* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: #ebebeb;
}

.frontpage {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    background-color: #ebebeb;
}

.navbar {
    border-bottom: solid black 1px;
}

.navbar__title {
    text-align: center;
}

.highlight__image {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

.highlight__scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    height: auto;
    white-space: nowrap;
}

.highlight__card {
    display: inline-block;
}

.highlight__card:first-child {
    margin-left: 0px;
}

.highlight__card-content {
    display: flex;
    flex-direction: column;
}

.frontpage__article-image {
    width: 100%;
    height: auto;
}

.frontpage__article {
    background-color: white;
    margin-top: 12px;
}

.frontpage__article-text {
    padding: 12px 12px;
}

footer {
    margin-top: 12px;
    width: 100%;
    padding: 10px 20px;
    background-color: #333333;
    color: white;
}

.footer__page-title {
    text-align: center;
    font-size: 1.8em;
}

.footer__content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px 0 15px;
}

.footer__content {
    font-size: 1.3em;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 576px) {
    .frontpage__article-image {
        max-width: 100%;
    }

    .highlight__card {
        max-width: 65%;
        margin-left: 8px;
    }
}
