:root {
    --nugget-color: #f73;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    background-color: #ebebeb;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
    background-color: #ebebeb;
    max-width: 576px;
}

.navbar {
    border-bottom: solid var(--nugget-color) 4px;
    background-color: white;
}

.navbar__content {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
}

.navbar__title {
    margin: 8px 0 12px 0;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

.highlight__title {
    background-color: var(--nugget-color);
    color: white;
    margin-top: 16px;
    padding: 12px;
    font-size: 1rem;
}

.highlight__image {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
}

.highlight__scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    height: auto;
    white-space: nowrap;
}

.highlight__card {
    display: inline-block;
    max-width: 65%;
    margin-left: 8px;
}

.highlight__card:first-child {
    margin-left: 0px;
}

.highlight__card-content {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.highlight__article-title {
    padding: 12px 12px;
    font-size: 1.125rem;
}

.frontpage__article {
    background-color: white;
    margin-top: 16px;
}

.frontpage__article-topic {
    background-color: white;
    padding: 12px;
    border-top: solid #f73 2px;
    font-size: 1rem;
    font-weight: 400;
}

.frontpage__article-image {
    width: 100%;
    height: auto;
}

.frontpage__article-text {
    padding: 8px 12px 12px 12px;
}

.frontpage__article-title {
    font-size: 1.6875rem;
    margin-bottom: 5px;
}

.frontpage__article-summary {
    font-size: 1.0625rem;
}

footer {
    margin-top: 16px;
    width: 100%;
    padding: 16px 20px;
    background-color: #333333;
    color: white;
}

.footer__content-container {
    background-color: #333333;
    padding: 0;
}

.footer__page-title {
    text-align: center;
    font-size: 1.8em;
}

.footer__title-link {
    color: white;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0 0 0;
}

.footer__link {
    font-size: 1.125em;
    text-decoration: none;
    color: white;
}

@media only screen and (min-width: 576px) {
    /*.navbar {
        padding: 0;
    }*/

    .container {
        max-width: 673px;
    }

    .navbar__title {
        font-size: 2.2857rem;
    }

    .frontpage__article-topic {
        font-size: 1.0625rem;
    }

    .frontpage__article-title {
        font-size: 2.0625rem;
    }

    .frontpage__article-summary {
        font-size: 1.125rem;
    }

    .frontpage__article-image {
        max-width: 1150px;
    }

    .highlight__article-title {
        font-size: 1.25rem;
    }

    .highlight__title {
        font-size: 1.0625rem;
    }

    .footer__page-title {
        font-size: 2.2857rem;
    }

    .footer__link {
        font-size: 1.25rem;
    }

    /*Remove padding from footer*/
}

@media only screen and (min-width: 768px) {
    .navbar__title {
        font-size: 2.4081rem;
    }

    .frontpage__article-topic {
        font-size: 1.0625rem;
    }

    .frontpage__article-title {
        font-size: 2.625rem;
    }

    .footer__page-title {
        font-size: 2.4081rem;
    }

    .footer__link {
        font-size: 1.39rem;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 96%;
        max-width: 988px;
    }
}

@media only screen and (min-width: 1200px) {
}

.about-us__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us__image-wrapper {
    width: 100%;
    height: 200px;
}
